* {
    /* box-sizing: border-box; */
    /* border: 1px solid black; */
}

html {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.device {
    width: 1000px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-radius: 20px;
    background-color: #bb1f00;
}

.heading {
    font-weight: 100;
    font-size: 30px;
    margin: 5px;
    font-family: Brush Script MT, Brush Script Std, cursive;
    color: #faf29f;
}

.grid-container {
    width: 800px;
    height: 320px;
    border-radius: 2px;
    background-color: white;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 800px;
    height: 320px;
}

.row {
    display: flex;
    border: 1px solid black;
    flex: 1;
}

.cell {
    display: flex;
    border: 1px solid black;
    flex: 1;
}

